# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. Matplotlib

In [ ]:
| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| VS Code                     |

Below are a few examples of evaluating arithmetic expressions in Python.

### Addition
result1 = 5 + 3
print("5 + 3 =", result1)

### Subtraction
result2 = 10 - 4
print("10 - 4 =", result2)

In [3]:
#this a simple arithmetic expression to mutiply then add integers.
x=(3*4)+5
print (x)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
hours = 200 / 60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

# Objectives

- List popular languages for Data Science  
- Identify commonly used Data Science libraries  
- Create Markdown and code cells in Jupyter Notebook  
- Convert time units using arithmetic expressions in Python  
- Format tables and headings using Markdown

## Author Name